sudo: false
dist: trusty

language: python
cache:
    directories:
        - $HOME/.cache/pip/

python:
    - 2.7
    - 3.4
    - 3.5
    - 3.6

install:
    - pip install pytest coverage requests cryptography flake8

script:
    - coverage run -m pytest
    - coverage report
    - flake8 validator.py tests/
